# Xcode user state
*.xcuserstate
xcuserdata/

# Xcode workspace settings
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
